#productInfo {
    background: rgb(240, 238, 238);
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 300px;
}
.product-image {
    width: 75vw;
    margin: 0 auto;
}
.pro-image > img {
    border: 3px solid black;
}
.product-info{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.tricky {
    height: 100%;
}

#sizes{
    display: flex;
    justify-content: center;
    width: 80vw;
    flex-wrap: wrap;
    border: solid black 3px;
    padding: 5px;
    margin: 10px auto;
}

#sizes > li {
    background: whitesmoke;
    width: 100px;
    height: 30px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

#sizes > li > button:hover,#sizes > li > button:focus ,#sizes > li > button:active  {
    background: black;
    color: white;
    outline: 0;
}


#sizes > li > button {
    background: white;
    width: 100px;
    font-weight: bold;
    border: 2px solid black;
}

#add-to-cart {
    width: 80vw;
    height: 6vh;
    background: black;
    color: white;
    border: none;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
}



@media screen and (max-width: 600px){
    #productInfo{
        justify-content: center;
        width: 100%;
        height: 100vh;
        overflow: scroll;
        
    }
    .product-image{
        width: 100%;
        box-shadow: none;
    }

    .product-info > p {
        width: 85%;
        text-align: center;
        font-size: 22px;
        margin: 5px 0px 10px 0px;
        color: rgb(124, 124, 124);
    }

    .product-info > h1 {
        font-size: 35px;
        font-weight: 500;
        letter-spacing: 2px;
        margin: 10px 0px 10px 0px;
        
    }

    .product-info > h2 {
        font-size: 16px;
        font-weight: bold
    }
    #sizes{
        height: 35vh;
        width: 80vw;
    }

    #sizes > li{
        height: 3.4vh;
        width: 16vw;
        margin: 5px;
    }
}

@media screen and (min-width: 601px ) and ( max-width: 1050px){
    #sizes > li {
        background: whitesmoke;
        width: 150px;
        height: 45px;
        margin: 10px;
        display: flex;
        justify-content: center;
    }

    #sizes > li > button {
        background: white;
        width: 150px;
        font-weight: bold;
        font-size: 16px;
        border: 3px solid black;
    }

    #add-to-cart {
        font-size: 18px;
        height: 8vh;
    }

    .product-info > p {
        width: 85%;
        text-align: center;
        font-size: 26px;
        margin: 5px 0px 10px 0px;
        color: rgb(124, 124, 124);
    }

    .product-info > h1 {
        font-size: 50px;
        font-weight: 500;
        letter-spacing: 2px;
        margin: 10px 0px 10px 0px;
        
    }

    .product-info > h2 {
        font-size: 20px;
        font-weight: bold
    }
    .product-info {
        height: 250px;
    }
}

@media screen and (min-width: 1051px) {
    .product-info {
        height: 300px;
    }
    #sizes > li {
        background: whitesmoke;
        width: 180px;
        height: 55px;
        margin: 10px;
        display: flex;
        justify-content: center;
    }

    #sizes > li > button {
        background: white;
        width: 180px;
        font-weight: bold;
        font-size: 20px;
        border: 3px solid black;
    }

    #add-to-cart {
        font-size: 22px;
        height: 10vh;
        width: 70%;
        margin: 0 auto;
    }

    .product-info > p {
        width: 70%;
        text-align: center;
        font-size: 32px;
        margin: 5px 0px 10px 0px;
        color: rgb(124, 124, 124);
    }

    .product-info > h1 {
        font-size: 60px;
        font-weight: 500;
        letter-spacing: 2px;
        margin: 10px 0px 10px 0px;
        width: 70%;
    }

    .product-info > h2 {
        font-size: 30px;
        font-weight: bold
    }

    #sizes{
        width: 70%;
    }

    .product-image {
        width: 70%;
        display: flex;
    }

    .tricky{
        display: flex;
        flex-direction: column;
    }

}